<!DOCTYPE html>
<html>
    <head>
        <title>Tiska</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
          .mySlides {display:none}
          .demo {cursor:pointer}
        </style>
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Tiska</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Gender</li>
                  <li>
                    <form id="men_form" method="GET" action="/props">
                      <input type = "hidden" name = "cat" value = "men" />
                    </form>
                    <a class="dropdown-item" href="javascript:{}" onclick="document.getElementById('men_form').submit();">Men</a>
                  </li>
                  <li>
                    <form id="women_form" method="GET" action="/props">
                      <input type = "hidden" name = "cat" value = "ladies" />
                    </form>
                    <a class="dropdown-item" href="javascript:{}" onclick="document.getElementById('women_form').submit();">Women</a>
                  </li>
                  <li role="seperator" class="dropdown-divider"></li>
                  <li class="dropdown-header">Product Types</li>
                  <li>
                    <form id="shoes_form" method="GET" action="/props">
                      <input type = "hidden" name = "type" value = "shoes" />
                    </form>
                    <a class="dropdown-item" href="javascript:{}" onclick="document.getElementById('shoes_form').submit();">Shoes</a>
                  </li>
                  <li>
                    <form id="suit_form" method="GET" action="/props">
                      <input type = "hidden" name = "type" value = "suits" />
                    </form>
                    <a class="dropdown-item" href="javascript:{}" onclick="document.getElementById('suit_form').submit();">Suits</a>
                  </li>
                  <li>
                    <form id="jacket_form" method="GET" action="/props">
                      <input type = "hidden" name = "type" value = "jackets" />
                    </form>
                    <a class="dropdown-item" href="javascript:{}" onclick="document.getElementById('jacket_form').submit();">Jackts & Tops</a>
                  </li>
                  <li>
                    <form id="dress_form" method="GET" action="/props">
                      <input type = "hidden" name = "type" value = "dresses" />
                    </form>
                    <a class="dropdown-item" href="javascript:{}" onclick="document.getElementById('dress_form').submit();">Dresses & Skirts</a>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <% if(!currentUser) { %>
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/register">Sign Up</a></li>
                  <% } else { %>
                    <li><a href="#">Signed In As: <%= currentUser.username %></a></li>
                    <li><a href="/logout">Log Out</a></li>
                  <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <div id="banner" class="wide">
  	  <div class="col-xs-5 line"><hr></div>
      <div class="col-xs-2 logo">Tiska</div>
      <div class="col-xs-5 line"><hr></div>
    </div>

    <hr>
