<% include partials/header %>

<h1><%= propItem.name %></h1>

<img src="<%= propItem.image %>">

<p><%= propItem.startingBid %> US Dollars</p>

<p><%= propItem.description %></p>

<% include partials/footer %>
